.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px #212020;
}

.profile-card-header {
    background-color: #937DC2;
    padding: 30px;
}

.profile-card-body {
    padding: 20px;
}

h3 {
    margin: 0;
    font-size: 24px;
}

.profile-info {
    margin-top: 20px;
}

.full-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.email {
    font-size: 16px;
    color: #212020;
}