.moves {
    width: 80%;
    margin-top: 100px;
    border-collapse: collapse;
    text-align: left;
}

.moves tr {
   background-color: white;
    line-height: 2.5rem;
}

.moves td {
    text-align: left;
    background-color: var(--base-color);
}

table td, table th {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
