.input-text {
    padding: 15px;
    border: 1px solid #CCC;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.input-text::placeholder {
    color: var(--input-placeholder-color);
    font-size: 1.3rem;
    font-weight: 300;
}

.input-text:focus-visible {
    box-shadow: 0 0 3px 3px var(--primary-color);
    outline: none;
}
