.Item {
    background-color: var(--primary-color);
    padding: 15px;
    height: 20px;
}

.Item:hover {
    background-color: var(--primary-dark-color);
    cursor: pointer;
}

.Item .label {
    color: var(--base-color);
    font-family: "Kanit", sans-serif;
    padding-left: 10px;
    font-size: 1.25rem;
}
